<div class="join-container">
  <h1 class="join-title">Join</h1>
  <div class="form-group">
    <label for="basic-id" class="form-label">ID</label>
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="clienteId" id="basic-id" aria-describedby="basic-addon3 basic-addon4">
    </div>
  </div>

  <div class="form-group">
    <label for="basic-name" class="form-label">Nombre</label>
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="clienteNombre" id="basic-name" aria-describedby="basic-addon3 basic-addon4">
    </div>
  </div>

  <div class="buttons-container">
    <button class="btn btn-primary" (click)="inicializarCliente()">Ingresar</button>
  </div>

  <div class="row button-row">
    <div class="col">
      <button class="btn btn-primary" (click)="iniciarFabricaDell()">Dell</button>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="iniciarFabricaHP()">HP</button>
    </div>
  </div>

  <div class="row button-row">
    <div class="col">
      <button class="btn btn-primary" (click)="conectarCamara()">Camara Web</button>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="conectarMicrofono()">Microfono</button>
    </div>
  </div>
</div>
