<div
  class="join-container centered"
  *ngIf="llamadaExiste() && !clienteExiste()"
>
  <h1 class="join-title tittle-background">Videoconferencia</h1>
  <h1 class="join-subtitle">Ingresar a la llamada</h1>
  <div class="form-group">
    <label for="basic-id" class="form-label">ID</label>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="clienteId"
        id="basic-id"
        aria-describedby="basic-addon3 basic-addon4"
      />
    </div>
  </div>

  <div class="form-group">
    <label for="basic-name" class="form-label">Nombre</label>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="clienteNombre"
        id="basic-name"
        aria-describedby="basic-addon3 basic-addon4"
      />
    </div>
  </div>

  <div class="buttons-container">
    <button class="btn btn-primary" (click)="inicializarCliente()">
      Ingresar
    </button>
  </div>
</div>
<div class="join-container centered" *ngIf="!llamadaExiste()">
  <h1 class="join-title">Videoconferencia</h1>
  <div class="buttons-container">
    <button class="btn btn-primary" (click)="inicializarLlamada()">
      Inciar Videoconferencia
    </button>
  </div>
</div>

<div class="join-container centered" *ngIf="clienteExiste()">
  <h1 class="join-title">Videoconferencia</h1>
  <h1 class="join-subtitle">Conectar perifericos</h1>
  <div class="form-group">
    <div class="col">
      <label for="basic-id" class="form-label colored-label"
        >ID:&nbsp;{{ getClienteId() }}</label
      >
    </div>
    <div class="col">
      <label for="basic-name" class="form-label colored-label"
        >Nombre:&nbsp;{{ getClienteName() }}</label
      >
    </div>
  </div>
  <div class="row button-row" *ngIf="!fabricaExiste()">
    <div class="col">
      <button class="btn btn-primary" (click)="iniciarFabricaDell()">
        Dell
      </button>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="iniciarFabricaHP()">HP</button>
    </div>
  </div>

  <div class="row button-row" *ngIf="fabricaExiste()">
    <div class="col">
      <button class="btn btn-primary" (click)="conectarCamara()">
        Camara Web
      </button>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="conectarMicrofono()">
        Microfono
      </button>
    </div>
  </div>
</div>
  