<div class="main-container">
  <h1>Entorno de Pruebas</h1>
  <p> Patrones Creacionales </p>
  <div class="buttons-container">
    <button class="pattern-button abstract-factory" (click)="navigateTo('abstract-factory')">
      <span>ABSTRACT FACTORY</span>
    </button>
    <button class="pattern-button pool-objects" (click)="navigateTo('pool-objects')">
      OBJECT POOL
    </button>
    <button class="pattern-button prototype" (click)="navigateTo('prototype')">
      PROTOTYPE
    </button>
  </div>
</div>
